body{
    background-color: lightgray;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#container{
width: 250px;
background-color: white;
padding: 10px;
border-radius: 20px;
box-shadow: 3px 3px 20px 6px rgba(0, 0, 0, 0.1);
}
.card-image{
    width:100%;
    border-radius: 10px;
}
.card-bottom{
   padding-inline: 7px;
}
.card-hadder{
    font-size: 19px;
    text-align: center;
}
.card-description{
    font-size: 14px;
    text-align: center;
    color: grey;
}
